{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recipe</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'css/recipe.css' %}">
</head>
<body>
    <h2>{{ title }}</h2>
    <p>사용된 재료 : {{ ingredients|join:", " }}</p>
    <div class="container">
      <div class="pre-container">
        <pre>{{ instructions }}</pre>
      </div>
    </div>

    <div class="btn-container">
      <a href="index.html" class="btn">다시하기</a>
    </div>
</body>
</html>
